---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.published_at.valueOf() - a.data.published_at.valueOf(),
);
---

<style>
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	ul li {
		width: 100%;
	}
	
	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	
	.title {
		margin: 0;
		line-height: 1;
	}
	
	.date {
		margin: 0;
	}

	section {
		border-bottom: 1px solid var(--gray);
		padding: 20px 40px 40px 40px;
	}

	:global(.dark) section {
		border-color: var(--gray-dark);
		padding: 20px 40px 40px 40px;
	}

	section h2 {
		color: var(--foreground);
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 40px;
	}
</style>

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1>Hello</h1>
				<p>
					Welcome to my website...etc. etc.
				</p>
				<p>
					I am still figuring out what this page should look like and what I want to put on it.
					In the meantime, it will mostly be experimenting with <a href="https://astro.build/">Astro</a> until I figure it out.
				</p>
			</section>
			<section>
				<h2>Projects</h2>
			</section>
			<section>
				<h2>Latest posts</h2>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<h4 class="title">{post.data.title}</h4>
								</a>
								<p class="date">
									<FormattedDate date={post.data.published_at} />
								</p>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
