---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.published_at.valueOf() - a.data.published_at.valueOf(),
);
---

<style>
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	
	ul li {
		width: 100%;
	}
	
	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
	}

	ul li a {
		display: block;
	}
	
	.title {
		margin: 0;
		line-height: 1;
	}
	
	.date {
		margin: 0;
		color: rgb(var(--gray));
	}

	section {
		border-bottom: 1px solid #ebebeb;
		padding: 20px 40px 40px 40px;
	}

	:global(.dark) section {
		border-color: #333;
		padding: 20px 40px 40px 40px;
	}

	section h2 {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 400;
		margin-bottom: 40px;
	}
</style>

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1>Hello!</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					Vitae ultricies leo integer malesuada nunc vel risus commodo viverra. 
					Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam adipiscing. 
					In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. 
					Netus et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. 
					Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque sagittis. 
					Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
				</p>
			</section>
			<section>
				<h2>Projects</h2>
			</section>
			<section>
				<h2>Latest posts</h2>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.slug}/`}>
									<h4 class="title">{post.data.title}</h4>
								</a>
								<p class="date">
									<FormattedDate date={post.data.published_at} />
								</p>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
