---
import type { CollectionEntry } from 'astro:content';

import DefaultLayout from './Default.astro';

import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, published_at, updated_at } = Astro.props;
---

<style>
	article {
		padding: 20px 40px 40px 40px;
	}
</style>

<DefaultLayout title={title} description={description}>
	<article>
		<div class="prose">
			<div class="title">
				<div class="date">
					<FormattedDate date={published_at} />
					{
						updated_at && (
							<div class="last-updated-on">
								Last updated on <FormattedDate date={updated_at} />
							</div>
						)
					}
				</div>
				<h1>{title}</h1>
				<hr />
			</div>
			<slot />
		</div>
	</article>
</DefaultLayout>